.simulation {
    margin: 0 auto;
    padding: 2rem;

    border-radius: 20px;
    box-shadow: 0 0 32px rgba(147, 112, 219, 0.7);
}


/* Responsive Design */
@media (max-width: 480px) {
    .simulation {
        padding: 1.5rem;
        margin: 1rem;
    }
}