
.config-grid {
    display: grid;
    gap: 1rem;
}

.config-panel {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    label {
    }
    .input{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.config-select {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    cursor: pointer;

}

.config-select:hover {
    border-color: #747bff;
}

input[type="range"] {
    width: 75%;
}
input[type="number"] {
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 0.5rem;
    width: 15%;
}